* {
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    font-weight: bolder;
}


/*Nav*/

.navbar {
    padding: 0.3rem;
    border-bottom: 2px solid #ccc;
}

.imgNav {
    width: 50px;
}

.navbar .nav-item a {
    color: #212529;
}

.nav-item {
    margin: 0 10px;
}

.nav-expand-lg .navbar-nav .nav-link {
    padding: 10px 25px;
    font-weight: bolder;
}

.navbar .nav-item .btn {
    font-weight: bolder;
    color: aliceblue;
    background-color: rgb(17, 71, 97);
    border: 1px solid aliceblue;
    border-radius: 20px;
}

.nav-link.btn.btn-primary:hover {
    font-weight: bolder;
    background-color: aliceblue;
    color: rgb(17, 71, 97);
    border: 1px solid rgb(17, 71, 97);
}


/*Banner */

#top-container {
    padding: 110px;
    background-color: aquamarine;
    border-bottom: 2px solid #212529;
    margin-bottom: 30px;
    background-image: url("../img/wq.jpg");
    background-position: 0 70px;
    background-size: cover;
    color: aliceblue;
}

#main-title {
    font-size: 3rem;
}

#main-subtitle {
    font-size: 1rem;
}


/*FORM*/

#search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

#search-form .col-md-10,
#search-form .col-md-2 {
    padding: 0;
}

#search-form input,
#search-form button {
    width: 100%;
    border-radius: 0px;
    height: 50px;
    font-size: 20px;
}

#search-form input {
    background-color: aliceblue;
    color: rgb(17, 71, 97);
    font-weight: bolder;
}

#search-form button {
    background-color: rgb(17, 71, 97);
    border: solid 1px aliceblue;
}

#search-form button:hover {
    background-color: aliceblue;
    border: solid 4px rgb(21, 134, 134);
    color: rgb(17, 71, 97);
}


/*LISTA*/

#jobs-container {
    padding: 0 100px;
    padding-bottom: 50px;
}

#job-list .list-group-item {
    margin-bottom: 15px;
    border: solid 3px rgb(17, 71, 97);
    padding: 15px 80px;
    font-weight: bolder;
    height: 130px;
}

#job-list .list-group-item p {
    font-size: 14px;
    margin-bottom: 5px;
}

#job-list .list-group-item.new-job {
    border: none;
    background-color: #ece8cf;
    border: solid 3px rgb(17, 71, 97);
}

#job-list-title {
    margin-bottom: 25px;
}

.list-group-item img {
    width: 80px;
    border: solid 3px rgb(17, 71, 97);
    border-radius: 50%;
    background-color: white;
    position: absolute;
    left: -40px;
    top: calc(50% - 40px);
}

.list-group-item a {
    position: absolute;
    right: 20px;
    top: 35px;
    height: 50px;
    line-height: 35px;
    background-color: rgb(17, 71, 97);
    border: 2px solid aliceblue;
    border-radius: 30px;
}

.list-group-item a:hover {
    background-color: aliceblue;
    border: 2px solid rgb(17, 71, 97);
    color: rgb(17, 71, 97);
    border-radius: 30px;
}

.new-job-label {
    background-color: rgb(235, 82, 82);
    color: rgb(252, 252, 252);
    border: solid 2px rgb(17, 71, 97);
    text-transform: uppercase;
    font-weight: bold;
    padding: 2px 10px;
    position: absolute;
    right: 250px;
    top: 40px;
    display: none;
}

.new-job .new-job-label {
    display: block;
}


/*ADD PAGE*/

#add-form-container {
    margin-top: 30px;
}

#add-form-container h1 {
    color: rgb(17, 71, 97);
    font-size: 44px;
    margin-bottom: 30px;
}

#add-form-container form label {
    font-weight: bolder;
    margin-top: 15px;
}

#add-form-container form input,
#add-form-container form textarea {
    border: solid 2px black;
    background-color: #e0e4e9;
}

#form-box h2 {
    font-weight: lighter;
}

#form-box button {
    height: 50px;
    width: 200px;
    background-color: rgb(17, 71, 97);
    border: 3px solid aliceblue;
    border-radius: 0px;
    margin-top: 20px;
}

#form-box button:hover {
    background-color: aliceblue;
    border: 3px solid rgb(17, 71, 97);
    color: rgb(17, 71, 97);
}


/*Job view*/

#job-view-container {
    margin-top: 150px;
}

#job-view-container a {
    text-decoration: none;
}

#job-view-container h1 {
    margin-bottom: 30px;
}

#img-container {
    margin-top: 20px;
    margin-bottom: 30px;
}

#img-container img {
    width: 100px;
    border-radius: 50%;
    border: 5px solid rgb(17, 71, 97);
}

.job-desc {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.bold {
    font-weight: bolder;
}

.main-color {
    color: red;
}

.back-link {
    width: 10%;
    height: 30px;
    background-color: rgb(17, 71, 97);
    color: aliceblue;
    text-decoration: none;
    padding: 2px 8px;
    transition: .2s;
}

.back-link:hover {
    background-color: #ccc;
    border: 4px solid rgb(17, 71, 97);
    color: rgb(17, 71, 97);
}