<div id="top-container" class="container-fluid">
        <h1 id="main-title" class="text-center">Aqui aqui você encontra o emprego dos seus sonhos</h1>
        <p id="main-subtitle" class="text-center">Somos o melhor site de vagas para desenvolvedores</p>

        <form id="search-form" class="form-check-inline" action="">
            <div class="form-group col-md-10">

                <input type="text" class="form-control" id="job" placeholder="Digite a vaga que esta buscando...">

            </div>

            <div class="col-md-2">

                <button type="submit" class=" btn btn-primary">
                    Buscar
                </button>

            </div>
        </form>
    </div>

    <main>
        <div id="jobs-container" class="container">

            <div class="row">
                <div class="col-md-12">

                    <h2 id="job-list-title">Veja as vagas que estão em destaque</h2>
                    <ul id="job-list" class="list-group">
                        <li class="list-group-item new-job">
                            <img src="/img/letra-c (1).png" alt="company">
                            <p>Empresa</p>
                            <h2>Titulo da vaga</h2>
                            <p>R$4000,00</p>
                            <span class="new-job-label">Nova</span>
                            <a class="btn btn-primary">Ver vaga</a>
                        </li>

                        <li class="list-group-item ">
                            <img src="/img/letra-i.png" alt="company">
                            <p>Empresa</p>
                            <h2>Titulo da vaga</h2>
                            <p>R$4000,00</p>

                            <a class="btn btn-primary">Ver vaga</a>
                        </li>

                        <li class="list-group-item">
                            <img src="/img/letra-a.png" alt="company">
                            <p>Empresa</p>
                            <h2>Titulo da vaga</h2>
                            <p>R$4000,00</p>
                            <a class="btn btn-primary">Ver vaga</a>
                        </li>

                        <li class="list-group-item new-job">
                            <img src="/img/letra-g.png" alt="company">
                            <p>Empresa</p>
                            <h2>Titulo da vaga</h2>
                            <p>R$4000,00</p>
                            <span class="new-job-label">Nova</span>
                            <a class="btn btn-primary">Ver vaga</a>
                        </li>

                        <li class="list-group-item">
                            <img src="/img/letra-u (1).png" alt="company">
                            <p>Empresa</p>
                            <h2>Titulo da vaga</h2>
                            <p>R$4000,00</p>
                            <a class="btn btn-primary">Ver vaga</a>
                        </li>

                        <li class="list-group-item new-job">
                            <img src="/img/letra-d.png" alt="company">
                            <p>Empresa</p>
                            <h2>Titulo da vaga</h2>
                            <p>R$4000,00</p>
                            <span class="new-job-label">Nova</span>
                            <a class="btn btn-primary">Ver vaga</a>
                        </li>
                    </ul>

                </div>
            </div>

        </div>
    </main>